<template>
  <div class="grid">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Logo -->
      <v-row>
        <v-col class="d-flex justify-center">
          <img src="/logo.png" class="logo mb-6" />
        </v-col>
      </v-row>

      <!-- Text -->
      <p class="text-h5 center-text orange-text">
        We are making a collaborative public database of property vacancies.
      </p>

      <p class="text-body-1">
        For two generations, there has been very little public, social, or
        co-operative affordable housing built in Nova Scotia outside the market.
      </p>

      <p class="text-h6 text-center orange-text">That's where you come in.</p>

      <!-- Report Button -->
      <v-row>
        <v-col class="d-flex justify-center">
          <v-btn
            rounded
            depressed
            color="primary"
            x-large
            nuxt
            dark
            to="/report"
          >
            <v-icon class="ml-1 mr-2">mdi-map-marker-plus</v-icon>

            Place a pin</v-btn
          >
        </v-col>
      </v-row>

      <p class="text-body-1 text-center mt-5">
        <nuxt-link to="/about">Learn more about this website</nuxt-link>
      </p>
    </div>

    <!-- Map -->
    <l-map
      ref="locationMap"
      class="map"
      :center="[44.6648221, -63.5684403]"
      :zoom="13"
    >
      <l-tile-layer
        :url="'https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png'"
      />
      <owner-filter-chips :spaces="spaces" @select="filterSelectedSpaces" />
      <l-circle-marker
        v-for="space in spacesToDisplay"
        :key="space.id"
        :lat-lng="[space.latitude, space.longitude]"
        :fill-color="
          ownerOptionsConfig[space.owner] &&
          ownerOptionsConfig[space.owner].color
        "
        :fill-opacity="1"
        color="#333"
        :radius="12"
      >
        <l-popup>
          <b>Status</b>: {{ space.status.toUpperCase() }}
          <br />
          <b>Owner</b>: {{ space.owner.toUpperCase() }}
          <div v-if="space.address"><b>Address</b>: {{ space.address }}</div>
          <p v-if="space.moreInfo">
            <b>Additional Information</b>:
            {{ space.moreInfo }}
          </p>
        </l-popup>
      </l-circle-marker>
    </l-map>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-console */

import Vue from 'vue'
import { LMap, LTileLayer, LPopup, LCircleMarker } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

import { ownerOptionsConfig } from '../constants'
import getVacantSpaces from '~/api/getVacantSpaces'
import OwnerFilterChips from '~/components/OwnerFilterChips.vue'
import { VacantSpace, VACANT_SPACE_OWNER } from '~/types'
import extractFields from '~/api/extractFields'

interface IndexData {
  spaces: VacantSpace[]
  spacesToDisplay: VacantSpace[]
}

export default Vue.extend<IndexData, unknown, unknown, unknown>({
  name: 'Report',
  components: {
    LMap,
    LTileLayer,
    LPopup,
    LCircleMarker,
    OwnerFilterChips,
  },

  data() {
    return {
      spaces: [],
      spacesToDisplay: [],
      ownerOptionsConfig,
    }
  },

  async mounted() {
    let vacantSpacesRes = await getVacantSpaces()
    let vacantSpaces = extractFields(vacantSpacesRes.records || [])

    while (vacantSpacesRes.offset) {
      vacantSpacesRes = await getVacantSpaces(vacantSpacesRes.offset)
      extractFields(vacantSpacesRes.records || []).map(x => {
        vacantSpaces.push(x)
      })
    }

    this.spaces = vacantSpaces
    this.spacesToDisplay = vacantSpaces
  },

  methods: {
    filterSelectedSpaces(owners: VACANT_SPACE_OWNER[]) {
      if (owners.length === 0) this.spacesToDisplay = this.spaces
      else
        this.spacesToDisplay = this.spaces.filter((space) =>
          owners.includes(space.owner)
        )
    },
  },
})
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  padding: 32px;
  overflow-y: auto;
}

.logo {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.center-text {
  text-align: center;
}

.orange-text {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  color: #f36a3d;
}

.map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .sidebar {
    padding-bottom: 16px;
  }

  .logo {
    max-width: 200px;
  }

  .map {
    height: 85vh;
  }

  .legend {
    padding: 8px;
  }
}
</style>
