<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="8">
        <v-container>
          <h1>Register a vacant property</h1>
          <p class="mt-2">No personal data is stored with your submission.</p>

          <v-divider />

          <v-form ref="reportForm" class="mt-5" @submit.prevent="submit">
            <!-- Searching location -->
            <v-alert
              v-if="geolocationState === 'searching'"
              border="top"
              color="secondary"
              dark
              >Searching for your location...</v-alert
            >

            <!-- Validation Error -->
            <v-alert v-if="validationError" border="top" color="error" dark
              ><span class="validation-error">{{ validationError }} </span> is
              required</v-alert
            >

            <!-- Submission Error -->
            <v-alert
              v-if="submitState === 'error'"
              border="top"
              color="error"
              dark
              >There was an error submitting the data. Please reload and try
              again</v-alert
            >

            <!-- Location -->
            <l-map
              ref="locationMap"
              :style="{ height: '400px', zIndex: 1 }"
              class="mb-6"
              :zoom="12"
              :center="[44.6648221, -63.5684403]"
            >
              <l-tile-layer
                :url="'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'"
              />
              <l-marker
                v-if="latitude && longitude"
                :lat-lng="[latitude, longitude]"
              >
              </l-marker>
            </l-map>

            <!-- Owner -->
            <p class="font-weight-bold mb-2">Building Owner</p>
            <v-select
              v-model="owner"
              :items="OWNER_OPTIONS"
              placeholder="Owner"
              outlined
            />

            <p class="font-weight-bold mb-2">Address (Optional)</p>
            <v-text-field
              v-model="address"
              outlined
              placeholder="2280 Main Street..."
            />

            <!-- Additional -->
            <p class="font-weight-bold mb-2">
              Additional information (Optional)
            </p>
            <v-text-field
              v-model="moreInfo"
              outlined
              placeholder="Any additional information..."
            />

            <!-- Submit -->
            <v-row>
              <v-col class="d-flex justify-center">
                <v-btn
                  :disabled="
                    submitState === 'loading' ||
                    geolocationState === 'searching'
                  "
                  rounded
                  dark
                  depressed
                  color="primary"
                  x-large
                  type="submit"
                >
                  Submit</v-btn
                >
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
/* eslint-disable no-console */

import Vue from 'vue'
import L, { latLng } from 'leaflet'
import { LMap, LTileLayer, LMarker } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

import { OWNER_OPTIONS } from '../constants'
import postVacantSpace from '~/api/postVacantSpace'
import { VacantSpace, VACANT_SPACE_OWNER } from '~/types'

type GeolocationState = 'searching' | 'success' | 'notFound' | undefined
type SubmitState = 'loading' | 'error' | undefined // Undefined is success
type ValidationError = 'location' | 'building owner' | undefined

// @ts-ignore
delete L.Icon.Default.prototype._getIconUrl
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
})

export default Vue.extend({
  name: 'Report',
  components: {
    LMap,
    LTileLayer,
    LMarker,
  },
  data() {
    return {
      // Form values
      latitude: undefined as number | undefined,
      longitude: undefined as number | undefined,
      address: undefined as string | undefined,
      owner: undefined as VACANT_SPACE_OWNER | undefined,
      status: 'vacant',
      moreInfo: undefined as string | undefined,
      // States
      geolocationState: undefined as GeolocationState,
      submitState: undefined as SubmitState,
      validationError: undefined as ValidationError,
      // Select Options
      OWNER_OPTIONS,
    }
  },
  watch: {
    latitude() {
      if (this.latitude && this.longitude) {
        // @ts-ignore
        const map = this.$refs.locationMap.mapObject
        map.setView(latLng(this.latitude, this.longitude), 18)
      }
    },
  },
  async mounted() {
    if (process.browser && window.navigator.geolocation) {
      this.geolocationState = 'searching'
      // Try to get geolocation
      await window.navigator.geolocation.getCurrentPosition(
        (location) => {
          this.latitude = location.coords.latitude
          this.longitude = location.coords.longitude
          this.geolocationState = 'success'
        },
        () => {
          this.geolocationState = 'notFound'
        }
      )

      // @ts-ignore
      const map = this.$refs.locationMap.mapObject

      // Update selected location on click
      map.on('click', (e: any) => {
        this.longitude = e.latlng.lng
        this.latitude = e.latlng.lat
      })
    }
  },
  methods: {
    // Submit the form
    async submit() {
      const { longitude, latitude, address, owner, status, moreInfo } = this

      this.validationError = undefined
      this.submitState = undefined

      if (!latitude) {
        this.validationError = 'location'
        return null
      }
      if (!owner) {
        this.validationError = 'building owner'
        return null
      }

      const newVacantSpace = {
        longitude,
        latitude,
        address,
        owner,
        status,
        moreInfo,
      } as VacantSpace

      try {
        this.submitState = 'loading'

        await postVacantSpace(newVacantSpace)

        this.$router.push({
          path: '/success',
        })
      } catch (e) {
        console.error(e)
        this.submitState = 'error'
      }
    },
  },
})
</script>

<style scoped>
.validation-error {
  text-transform: capitalize;
}
</style>
