<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="pa-4" outlined>
          <v-container>
            <h1>Success</h1>
            <p class="mt-2 mb-8">Thank you for your submission!</p>

            <!-- Submit -->
            <v-row>
              <v-col class="d-flex justify-center">
                <v-btn
                  rounded
                  depressed
                  color="secondary"
                  dark
                  x-large
                  nuxt
                  to="/"
                >
                  <v-icon class="ml-1 mr-2">mdi-map</v-icon>
                  See the map
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="d-flex justify-center">
                <v-btn
                  rounded
                  depressed
                  color="primary"
                  x-large
                  nuxt
                  to="/report"
                >
                  <v-icon class="ml-1 mr-2">mdi-map-marker-plus</v-icon>

                  Make another report</v-btn
                >
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
